.chat {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    height: 80vh;
    justify-content: space-between;
    overflow-y: scroll;

    .chatview {
        padding: 3%;
        overflow-y: scroll;
        scroll-behavior: smooth;

        .messages {
            display: flex;
            flex-direction: column;

            .name {
                padding: 1% 0 1% 0;
                max-width: max-content;
                background-color: #7c7b7b77;

                h1 {
                    font-size: .8rem;
                    background-color: transparent;
                }


            }

            .message {
                h1 {
                    width: max-content;
                    background-color: rgba(4, 178, 247, 0.805);
                    font-size: 1rem;
                    border-radius: 10px;
                    padding: 10px;
                    text-align: left;
                }

                .messageme {
                    background-color: rgba(255, 111, 0, 0.754);
                    float: right;
                }
            }

        }
    }

    .chatinput {
        display: flex;
        align-items: center;


        input {
            border: none;
            font-size: 18px;
            gap: 30px;
            margin: 8px;
            width: 70%;
            padding: 20px;
            background-color: #cfcece;
            border-radius: 10px;
        }

        button {
            // border: none;
            width: 50px;
            font-size: 30px;
            height: 50px;
            background-color: transparent;
            margin-right: 10px;
        }

        .emoji {

            position: relative;
            cursor: pointer;
        }

        .picker {

            position: absolute;
            bottom: 50px;
        }

        .emojiimg {
            width: 3rem;
        }

        .send {
            border: none;
            background-color: transparent;
            cursor: pointer;

            &:hover {
                color: orange;
            }
        }
    }
}