%menu {
    &:hover {
        background-color: tan;
    }

    &:active {
        background-color: red;
    }
}

.room {
    display: flex;
    gap: 40px;
    align-items: end;
    padding-left: 3%;
    border-bottom: 1px solid black;

    div {
        width: 15vh;
        height: 6vh;
        justify-content: center;
        display: flex;
        padding: 10px;
        margin-top: auto;
        background-color: rgb(177, 177, 177);
        border-radius: 10px 10px 0 0;

    }

    .roomfind {
        @extend %menu;
    }

    .random {
        @extend %menu;
    }

    .link {
        text-decoration: none;
        color: black;
    }
}