@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');


.wrapper {

    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    width: 100vw;
    height: 100vh;


    h2 {

        font-family: "Nanum Pen Script", cursive;
        font-weight: 500;
        font-style: normal;
        text-align: center;
    }

    .text1 {
        font-size: 6rem;
    }

    .text2 {
        font-size: 3rem;
    }

    img {
        width: 13vw;
    }

    .setlog {
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
            margin: 15px;
            padding: 15px;
            font-size: 1rem;
            border: none;
            background-color: rgba(255, 145, 0, 0.789);
            color: black;
            border-radius: 10px;
            width: 20rem;
        }

        button {
            font-size: 15px;
            padding: 10px;
            border: none;
            background-color: transparent;
            width: min-content;
            cursor: pointer;
        }
    }
}

/* HTML: <div class="loader"></div> */
.loader {
    --w: 10ch;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    letter-spacing: var(--w);
    width: var(--w);
    overflow: hidden;
    white-space: nowrap;
    text-shadow:
        calc(-1*var(--w)) 0,
        calc(-2*var(--w)) 0,
        calc(-3*var(--w)) 0,
        calc(-4*var(--w)) 0,
        calc(-5*var(--w)) 0,
        calc(-6*var(--w)) 0,
        calc(-7*var(--w)) 0,
        calc(-8*var(--w)) 0,
        calc(-9*var(--w)) 0;
    animation: l16 2s infinite;
}

.loader:before {
    content: "Loading...";
}

@keyframes l16 {
    20% {
        text-shadow:
            calc(-1*var(--w)) 0,
            calc(-2*var(--w)) 0 red,
            calc(-3*var(--w)) 0,
            calc(-4*var(--w)) 0 #ffa516,
            calc(-5*var(--w)) 0 #63fff4,
            calc(-6*var(--w)) 0,
            calc(-7*var(--w)) 0,
            calc(-8*var(--w)) 0 green,
            calc(-9*var(--w)) 0;
    }

    40% {
        text-shadow:
            calc(-1*var(--w)) 0,
            calc(-2*var(--w)) 0 red,
            calc(-3*var(--w)) 0 #e945e9,
            calc(-4*var(--w)) 0,
            calc(-5*var(--w)) 0 green,
            calc(-6*var(--w)) 0 orange,
            calc(-7*var(--w)) 0,
            calc(-8*var(--w)) 0 green,
            calc(-9*var(--w)) 0;
    }

    60% {
        text-shadow:
            calc(-1*var(--w)) 0 lightblue,
            calc(-2*var(--w)) 0,
            calc(-3*var(--w)) 0 #e945e9,
            calc(-4*var(--w)) 0,
            calc(-5*var(--w)) 0 green,
            calc(-6*var(--w)) 0,
            calc(-7*var(--w)) 0 yellow,
            calc(-8*var(--w)) 0 #ffa516,
            calc(-9*var(--w)) 0 red;
    }

    80% {
        text-shadow:
            calc(-1*var(--w)) 0 lightblue,
            calc(-2*var(--w)) 0 yellow,
            calc(-3*var(--w)) 0 #63fff4,
            calc(-4*var(--w)) 0 #ffa516,
            calc(-5*var(--w)) 0 red,
            calc(-6*var(--w)) 0,
            calc(-7*var(--w)) 0 grey,
            calc(-8*var(--w)) 0 #63fff4,
            calc(-9*var(--w)) 0;
    }
}